name: 'mingw64 release Builds'
on:
  workflow_call:
    inputs:
      do_package:
        required: false
        type: boolean
        default: false
      do_package_symbols:
        required: false
        type: boolean
        default: false
      retention_days:
        required: false
        type: number
        default: 14
      run_build:
        required: true
        type: boolean

jobs:
  gcc13-release:
    name: GCC 13.2 release Builds for mingw64
    environment: public-github-runners
    runs-on: windows-latest
    if: inputs.run_build == true
    steps:
      - name: setup
        run: |
          echo "C:\msys64" >> $GITHUB_PATH
          echo "C:\msys64\mingw64\bin\" >> $GITHUB_PATH
      - name: Install Dependencies
        run: |
          pacman -S mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake mingw-w64-x86_64-ninja --noconfirm
          export PATH="/mingw64/bin/:$PATH"
        shell:  C:\shells\msys2bash.cmd {0}
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Configure
        id: cmake-configure-mingw64
        run: |
          export PATH="/mingw64/bin/:$PATH"
          echo "PATH: $PATH"
          cmake --preset gcc-release -DSILKIT_BUILD_DOCS=OFF
        shell:  C:\shells\msys2bash.cmd {0}
      - name: Build
        id: cmake-build-mingw64
        run: |
          export PATH="/mingw64/bin/:$PATH"
          echo "PATH: $PATH"
          cmake --build --preset gcc-release
        shell:  C:\shells\msys2bash.cmd {0}
      - name: Test
        id: cmake-test-mingw64
        run: |
          export PATH="/mingw64/bin/:$PATH"
          echo "PATH: $PATH"
          ctest --preset gcc-release --output-on-failure
        shell:  C:\shells\msys2bash.cmd {0}
