name: 'Windows builds'

on:
  workflow_call:
    inputs:
      do_package:
        required: false
        type: boolean
        default: false
      do_package_symbols:
        required: false
        type: boolean
        default: false
      run_build:
        required: true
        type: boolean

  push:
    branches: [ 'main' ]

concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-win-x64:
    runs-on: windows-2019
    environment: public-github-runners
    if: (inputs.run_build == true) || (github.event_name == 'push')
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: ./.github/actions/build-cmake-preset
      with:
        preset-name: vs141-x64-release
        build-arch: x64
        testlog-name: ${{ github.job }}

  build-win-x32:
    runs-on: windows-2019
    environment: public-github-runners
    if: inputs.run_build == true
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: ./.github/actions/build-cmake-preset
      with:
        preset-name: vs141-x86-release
        build-arch: x86
        testlog-name: ${{ github.job }}
