name: macOS build

on:
  workflow_call:
    inputs:
      do_package:
        required: false
        type: boolean
        default: false
      do_package_symbols:
        required: false
        type: boolean
        default: false
      retention_days:
        required: false
        type: number
        default: 14

jobs:
  build-macos:
    if: ${{ false }} #disabled for now
    runs-on: macos-latest
    environment: public-github-runners
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: ./.github/actions/build-cmake-preset
      with:
        preset-name: clang-release
        do_package: ${{ inputs.do_package }}
        do_package_symbols: ${{ inputs.do_package_symbols }}
        retention_days: ${{ inputs.retention_days }}
        testlog-name: ${{ github.job }}
